
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<br />
<br />

<label>Enter your location</label>
&nbsp&nbsp&nbsp&nbsp
<input id="txtLocation" type="text" />

<br />
<br />

<label>Select your destination</label>
&nbsp&nbsp&nbsp&nbsp
<select id="sltCampus">
    <option value="doon">Doon</option>
    <option value="waterloo">Waterloo</option>
    <option value="guelph">Guelph</option>
    <option value="cambridge">Cambridge</option>
</select>

<br />
<br />
<br />
<br />